.worklog {
  background-color: lightgoldenrodyellow;
}

.easy-edit-component-wrapper {
  width: 100%;
}

.timespent-box {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.timespent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
}

.comment {
  min-height: 18px;
  width: 100%;
  display: block;
}

.comment-cell {
  cursor: pointer;
}

.delete-btn-box {
  width: 100px;
  margin-left: 10px;
}
