.repositories {
  &__controls {
    margin: 10px 10px 10px 210px;

    &__filters {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.filters {
  display: flex;
  flex: 1;

  &__projects {
    flex: 1;
  }

  &__controlls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__textfield {
    margin: 5px;
  }
}

